<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Al ADAN copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Al ADAN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB9497CE1C6E36D3003CE6F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC4FBA21C2AE9FE00A39D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC4FBB61C2AE9FE00A39D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC4FBC11C2AE9FE00A39D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
